* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #2f2f2f;
  color: #fff;
}

/* Navbar*/

nav {
  margin-top: 42px;
}

.navbar .navbar-items {
  display: flex;
  gap: 64px;
  align-items: center;
}

.navbar .navbar-items div {
  display: flex;
  flex-grow: 1;
  gap: 8px;
}

.navbar .navbar-items div a {
  text-decoration: none;
  padding: 8px 16px;

  color: #808080;
}

.navbar .navbar-items .navbar-item-contact-us {
  margin: 0px;
  align-items: r;
}

.navbar .navbar-items .secondary-button {
  display: flex;
  justify-content: end;
  text-decoration: none;
  padding: 8px 16px;

  color: #ffffff;

  background: rgba(47, 47, 47, 0.3);
  border-radius: 4px;
}

.navbar .navbar-items .active {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  color: #ffffff;
  border-radius: 99px;
}

.navbar .navbar-items div a:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 99px;

  color: #ffffff;
}

/* Hero */
.hero {
  display: flex;
  margin-top: 40px;
  gap: 68px;
  justify-content: space-between;
}

.hero-left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero-left .hero-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-left .hero-content p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.005em;
}

.hero-left .hero-content span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;

  padding: 0px 16px;

  color: #2f2f2f;
  background: #ffffff;
  border-radius: 99px;
}

.hero-left h1 {
  font-family: "Chillax";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -0.005em;
}

.hero-left p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.01em;
}

.hero-cta {
  display: flex;
  gap: 32px;
  align-items: center;
}

.hero-left hr {
  width: 140px;
  border-top: 1px solid #fff;

  border-radius: 99px;
}

.primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 4px;

  color: #ffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
  text-decoration: none;

  background: #33cc99;
  border-radius: 4px;

  width: 209px;
  height: 60px;
}

.secondary-button {
  color: #ffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
  background: rgba(47, 47, 47, 0.3);
  border-radius: 4px;
  z-index: 5;
}

.tertiary-button {
  color: #33cc99;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
  text-decoration: none;
}

/* .hero-img {
  position: absolute;
  width: 400px;
  height: 200px;
  bottom: 500px;
  right: 300px;
} */

.section-1 {
  background-color: #242424;
  width: 100%;
  margin-top: 88px;
}

.section-1 .container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 44px;
  flex-direction: column;
}

.column-left {
  width: fit-content;
  /* width: 50%; */
  /* width: 523px; jangan di kasih height */
  margin: 0px;
}

.column-left h3 {
  font-family: "Chillax";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: -0.045em;
  margin: 0;
}

.column-right {
  width: 551px;
  /* height: 393px; jangan di kasih height */
}

.cards {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  display: flex;
  padding: 16px 20px;
  flex-direction: column;

  gap: 4px;
  background: linear-gradient(
    143.53deg,
    rgba(255, 255, 255, 0.2) -90.47%,
    rgba(255, 255, 255, 0) 215.56%
  );
  /* Neutral/500 */

  border: 1px solid #babec1;
  backdrop-filter: blur(74px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 12px;
  align-content: flex-start;
}

.card .content-desc {
  padding: 0px 0px 0px 32px;
}

.card .content {
  display: flex;
  flex: 1;
  gap: 8px;
  align-items: center;
}

.card .content p {
  flex: 1;
}

.arrow {
  width: 17px;
  height: 10px;
}

.card .open {
  padding: 40px;
  max-height: 100%;
}

/* Section 2 */
.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0 100px;
}

.section-2 .section-2-heading {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section-2 .section-2-heading h3 {
  font-family: "Chillax";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 67px;
}

.section-2 .cards-tools {
  display: flex;
  gap: 32px;
}

.cards-tools .card-tools {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 8px;

  background: linear-gradient(
    143.53deg,
    rgba(255, 255, 255, 0.2) -90.47%,
    rgba(255, 255, 255, 0) 215.56%
  );

  border: 1px solid #babec1;
  backdrop-filter: blur(74px);

  border-radius: 12px;
}

.cards-tools .card-heading {
  display: flex;
  flex-direction: 8px;
  justify-content: center;
  align-items: center;
}

.cards-tools .card-heading img {
  margin-right: 4px;
}

.cards-tools .card-heading .card-title {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cards-tools .card-heading .card-title h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.cards-tools .card-heading .card-title p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #909090;
}

/* Tablet */

/* Responsive */

@media (min-width: 1024px) {
  .section-1 .container {
    flex-direction: row;
    margin: 150px 0px;
    padding: 100px;
  }

  .section-1 .container .column-left {
    width: 50%;
    width: 522px;
    height: 393px;
  }

  .cards {
    margin-top: 40px;
  }
}
